flows.json
[
    {
        "id": "a241df78822df212",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed372fab4b76f259",
        "type": "mongodb",
        "hostname": "mongodb",
        "topology": "direct",
        "connectOptions": "",
        "port": 27017,
        "db": "admin",
        "name": "Minha Nova Conexão MongoDB"
    },
    {
        "id": "eb5b86e5833c9da3",
        "type": "http in",
        "z": "a241df78822df212",
        "name": "/cep/:cep/get",
        "url": "/consulta-cep",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 90,
        "y": 1060,
        "wires": [
            [
                "39b45e1139aa8978"
            ]
        ]
    },
    {
        "id": "0f0cc8e4979b8abd",
        "type": "http response",
        "z": "a241df78822df212",
        "name": "Retorno HTTP",
        "statusCode": "200",
        "headers": {},
        "x": 1140,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7ecbcdac95a757f7",
        "type": "http request",
        "z": "a241df78822df212",
        "name": "Chamada BrasilAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1060,
        "wires": [
            [
                "0f0cc8e4979b8abd"
            ]
        ]
    },
    {
        "id": "39b45e1139aa8978",
        "type": "function",
        "z": "a241df78822df212",
        "name": "Processar Resposta API",
        "func": "const cep = msg.payload.cep;\nmsg.method = \"GET\";\nmsg.url = `https://brasilapi.com.br/api/cep/v2/${cep}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 308.81251525878906,
        "y": 1066.2125244140625,
        "wires": [
            [
                "7ecbcdac95a757f7"
            ]
        ]
    },
    {
        "id": "50657430fc6ede21",
        "type": "http in",
        "z": "a241df78822df212",
        "name": "/carregar-corretoras",
        "url": "/carregar-corretoras",
        "method": "get",
        "upload": true,
        "swaggerDoc": "",
        "x": 230,
        "y": 1220,
        "wires": [
            [
                "026883aa1bf0f084"
            ]
        ]
    },
    {
        "id": "25c990453771e73c",
        "type": "http response",
        "z": "a241df78822df212",
        "name": "Retorno HTTP",
        "statusCode": "200",
        "headers": {},
        "x": 1260,
        "y": 1220,
        "wires": []
    },
    {
        "id": "026883aa1bf0f084",
        "type": "http request",
        "z": "a241df78822df212",
        "name": "Chamada BrasilAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://brasilapi.com.br/api/cvm/corretoras/v1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 1220,
        "wires": [
            [
                "25c990453771e73c"
            ]
        ]
    }
]